/* If you want to upload fonts, put them in the fonts folder and add them to your stylesheet like below. */

@font-face {
  font-family: Barlowfold;
  src: url(fonts/Barlowfold.otf);
  font-weight: normal;
}

@font-face {
  font-family: Lucette;
  src: url(fonts/Lucette-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: Lucette;
  src: url(fonts/Lucette-RegularItalic.woff);
  font-style: italic;
}

html, body {
  font-family: Lucette;
  color: black;
  font-size: 24px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: white;
}

.banner {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 48;
  background: linear-gradient(white, rgba(0, 0, 0, 0));
}

#title {
  font-family: Barlowfold;
  font-weight: bold;
  font-size: 10vh;
  margin: 10px;
  z-index: 52;
  justify-content: center;
  color: black;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

#allSections {
  display: block;
  height: 100%;
}

#toc {
  display: block;
  margin-top: 25vh;
  z-index: 50;
}

.contents {
  margin: 11vh 25vw;
}

h1 {
  font-family: Barlowfold;
  font-size: 6.1vh;
  color: black;
}

.contents h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.contents p {
  font-style: italic;
  font-size: 2vh;
  color: black;
  display: inline;
}

#vid-outer {
  margin-top: 20vh;
  width: 100%;
}

#vid-inner {
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  font-family: Barlowfold;
  font-size: 3vh;
  color: black;
  margin-block-start: 10vh;
  margin-block-end: 0px;
}

.textSection {
  margin-top: 50vh;
  display: block;
  height: auto;
}

.textSection h1 {
  top: 20vh;
  height: 70vh;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textSection p {
  width: 42vw;
  color: black;
  font-family: Lucette;
  font-size: 2.4vh;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10vh 0;
}

video {
  max-width: 100%;
  height: auto;
}

#vid {
  margin: 20vh 0;
}

@media screen and (max-width: 600px) {
  #title {
    font-size: 10vw;
  }

  #toc {
    margin-top: 4vh;
  }
}
